main {
  padding-top: 150px;
  max-width: 75vw;
  margin: 0 auto;

  .container {
    margin: 40px;
  }
  .charts-container {
    display: flex;
    justify-content: space-between;
  }

  .table-container {
    display: flex;
    flex-direction: column;
  }
}
